MOIZHL_1005/ZSN_konyv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="könyvek">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="könyv">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cim" type="xs:string" />
							<xs:element name="kiadasi_ev" type="xs:unsignedShort" />
							<xs:element name="kiado" type="xs:string" />
							<xs:element name="szerzo" type="xs:string" />
							<xs:element name="abstract" />
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>