MOIZHL_1012/ZSN_konyv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="konyvek">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="konyv" type="konyvTipus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="konyvTipus">
		<xs:sequence>
			<xs:element name="cim" type="xs:string" />
			<xs:element name="szerzo" type="xs:string" />
			<xs:element name="szereplo"  type="szereploTipus" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="isbn" type="xs:int" use="required" />
	</xs:complexType>

	<xs:complexType name="szereploTipus">
		<xs:sequence>
			<xs:element name="nev" type="xs:string" />
			<xs:element  name="baratja" minOccurs="0" type="xs:string" />
			<xs:element name="szuletett" type="xs:date" />
			<xs:element name="jellemzes" type="xs:string" />
		</xs:sequence>
	</xs:complexType>



</xs:schema>