MOZIHL_0928/ZSN_orarend.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT orarend (ora*)>
<!ELEMENT orarend (targy, idopont, helyszin, oktato, szak)>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>


